---
title: MiniSign dictionary
layout: minisign
prose: false
---
<p class="mt-3 mb-3">This is a list of lexical signs in MiniSign. Function morphemes are not listed here. For an explanation of the parameters, such as handshape, location, etc., see the <a href="/minisign/phonology#sign-constituents">phonology page</a>.</p>

<main class="mt-5">
  {% assign dictionary = site.data.minisign-dict | sort: "gloss" %}
  {% for word in dictionary %}
    <article class="border-t border-stone-400 mt-3" id="{{ word.gloss }}">
      <h2 class="text-3xl small-caps font-display font-bold">{{ word.gloss }}</h2>
  
      <div class="md:grid grid-cols-3">
        <div class="col-span-2 mb-3">

          {% if word.etymology %}
            <p class="mb-3 italic">Etymology: {{ word.etymology | markdownify | remove: '<p>' | remove: '</p>' }}</p>
          {% endif %}

          <ul class="list-disc list-inside mb-3">
            <h3 class="capitalize font-bold">{{ word.pos }}</h3>
            {% for sense in word.senses %}
              <li class="ps-5">{{ sense }}</li>
            {% endfor %}
          </ul>

          {% if word.notes %}
            <h3 class="font-bold">Notes</h3>
            <p>{{ word.notes | markdownify | remove: '<p>' | remove: '</p>' }}</p>
          {% endif %}

        </div>

        <div class="w-full">
          <div>
            <ham-signs class="text-2xl block mb-5">
              {{ word.symm }},{{ word.shape }},{{ word.constellation }},{{ word.orient }},{{ word.loc }},{{ word.move }}
            </ham-signs>
            {% if word.nmp %}
              <div class="font-bold mb-5">Non-manuals: {{ word.nmp }}</div>
            {% endif %}
          </div>

          <details>
            <summary>Click to show parameter breakdown</summary>
            <table class="text-left w-full">
              <thead class="font-display border-b border-stone-600">
                <tr>
                  <th class="w-40">Parameter</th>
                  <th>Value</th>
                </tr>
              </thead>
              <tbody>
                <tr class="border-b border-stone-400">
                  <th scope="row" class="font-display">Hand symmetry</th>
                  <td class="text-xl h-12"><ham-signs>{{ word.symm }}</ham-signs></td>
                </tr>
                <tr class="border-b border-stone-400">
                  <th scope="row" class="font-display">Handshape</th>
                  <td class="text-xl h-12"><ham-signs>{{ word.shape }}</ham-signs></td>
                </tr>
                <tr class="border-b border-stone-400">
                  <th scope="row" class="font-display">Hand constellation</th>
                  <td class="text-xl h-12"><ham-signs>{{ word.constellation }}</ham-signs></td>
                </tr>
                <tr class="border-b border-stone-400">
                  <th scope="row" class="font-display">Hand orientation</th>
                  <td class="text-xl h-12"><ham-signs>{{ word.orient }}</ham-signs></td>
                </tr>
                <tr class="border-b border-stone-400">
                  <th scope="row" class="font-display">Location</th>
                  <td class="text-xl h-12"><ham-signs>{{ word.loc }}</ham-signs></td>
                </tr>
                <tr class="border-b border-stone-400">
                  <th scope="row" class="font-display">Movement</th>
                  <td class="text-xl h-12"><ham-signs>{{ word.move }}</ham-signs></td>
                </tr>
                <tr class="border-b border-stone-400">
                  <th scope="row" class="font-display">Non-manuals</th>
                  <td class="h-12">{{ word.nmp }}</td>
                </tr>
              </tbody>
            </table>
          </details>
        </div>
      </div>
    </article>
  {% endfor %}
</main>