---
---

@import "./rouge.css";

@layer utilities {
  .small-caps {
    font-variant: all-small-caps;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: hsl(35, 70%, 89%);
    @apply text-sumiblack;
  }

  a {
    @apply text-redchan;
  }

  a:hover {
    @apply text-redchan-light;
    text-decoration: underline;
  }
}

@layer components {
  .badge {
    @apply relative bottom-1 text-redchan text-xs font-medium mr-2 px-2.5 py-0.5 rounded border border-redchan;
  }

  .list-comma li:not(:last-child):after {
    content: ", ";
  }

  .list-pipe li:not(:last-child):after {
    content: "|";
    @apply mx-1;
  }
}

.fancy-heading::before {
  content: "☙";
  @apply pe-2;
}

.fancy-heading::after {
  content: "❧";
  @apply ps-2;
}

.blog-post {
  @apply prose
    prose-h2:mt-5
    prose-h2:text-4xl
    prose-h2:mb-1
    prose-h3:text-2xl
    prose-h3:mb-1
    prose-a:text-redchan
    prose-a:no-underline
    prose-blockquote:border-stone-500
    prose-img:mx-auto
    prose-code:before:content-none 
    prose-code:after:content-none
    prose-headings:font-display
    max-w-[80ch]
    mx-auto;
}

.copyable {
  position: relative;
}

.copyable-hover {
  /* @apply outline outline-1 outline-dashed outline-slate-400; */
  @apply bg-slate-100;
}

.copyable-hover.copyable-active::after {
  @apply text-xs;
  content: "✅ COPIED!" !important;
  right: -4.25rem !important;
}

.copyable-hover::after {
  @apply absolute top-1/2 -right-5;
  content: "📋";
  transform: translateY(-50%);
}

@font-face {
  font-family: HamNoSys;
  src: url( {{ '/assets/fonts/hamnosysunicode-webfont.woff2' | relative_url }} );
  size-adjust: 180%;
}

ham-signs {
  font-family: HamNoSys;
}